@import '../../app.component.scss';

.container {
  height: 100%;
  padding: 1rem;

  .row {
    display: flex;
    gap: 1rem;

    .notifications {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    .search {
      display: flex;
      flex-direction: column;
      align-items: center;

      background: linear-gradient(135deg, rgb(250, 192, 149), rgba(250, 192, 149, .15));

      padding: 1rem 1rem;

      gap: 1rem;

      .selects {
        display: flex;
        gap: 1rem;

        .column {
          display: flex;
          flex-direction: column;

          mat-select {
            background: #FFF;

            padding: .75rem 1.5rem;

            width: 11rem;
            height: 3rem;

            border: 1px solid #D6D6D6;
          }
        }
      }

      button {
        background: linear-gradient(0deg, #3D83DF, #6891BE);
        color: #FFF;
      }
    }

    .tasks {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;

      background: #EEF3FF;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button:first-of-type {
          background: #3D83DF;
          color: #FFF;
        }

        button:last-of-type {
          background: $palette-orange;
          color: #FFF;

          text-align: center;

          mat-icon {
            text-align: center;
          }
        }
      }

      .tasks-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .task {
          width: 100%;
          height: 36px;

          mat-slide-toggle {
            padding: .5rem .75rem;
            margin-right: .75rem;
            color: #FFF;
            border-radius: .5rem;

            ::ng-deep div:nth-child(1) {
              label {
                margin-right: 2rem;
              }
            }

            ::ng-deep .mdc-form-field.mdc-form-field--align-end {
              color: #FFF;
            }
          }

          strong {
            font-size: 14px;
          }

          &:nth-child(1) {
            mat-slide-toggle {
              background: linear-gradient(0deg, #FF6357, #FF9187);
            }
          }

          &:nth-child(2) {
            mat-slide-toggle {
              background: linear-gradient(0deg, #5780F6, #84A1F8);
            }
          }

          &:nth-child(3) {
            mat-slide-toggle {
              background: linear-gradient(0deg, #02ad93, #19eece);
            }
          }
        }
      }
    }
  }
}
